@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cat Posts</h1>
    <p>Check our <a asp-area="" asp-controller="Posts" asp-action="Index">cat posts</a> and start creating your own posts!</p>
</div>
